{% extends 'base.html' %}


{% block title %}About{% endblock title %}

{% block content %}
<!-- <div class="align-self-stretch">
    <h1 span class="d-block p-1 text-bg-primary">About us!</h1>
    <h3 class="d-flex justify-content-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat minima labore ad, magni odio soluta? Animi, mollitia. Nemo dolorum officia dolorem aspernatur, aperiam quam culpa. Voluptatum minima repellat maiores architecto.!</h3> -->
</div>
<div class="card text-bg-primary mb-3" style="max-width: 100rem;">
    <div class="card-header">About us!</div>
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat minima labore ad, magni odio soluta? Animi, mollitia. Nemo dolorum officia dolorem aspernatur, aperiam quam culpa. Voluptatum minima repellat maiores architecto.!</p>
</div>


{% endblock content %}